<?xml version="1.0" encoding="utf-8" ?>
<Settings>
  <Setting setting_name="Database Address" group="Database Settings">
    <Value>C:\Users\kdeutsch\source\repos\Tracker\Tracker\bin\Debug\Resources\RS_Backend.accdb</Value>
    <ValueType>string</ValueType>
  </Setting>

  <Setting setting_name="Default Fee Structure" group="Defaults">
    <Value>Electronic2012a</Value>
    <ValueType>string</ValueType>
  </Setting>

  <Setting setting_name="Test" group="Defaults">
    <Value>ooioo</Value>
    <ValueType>string</ValueType>
  </Setting>
</Settings>

